<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome Email</title>
    </head>
    <body>
        <h2>Hey there, {{username}}</h2>
        <p>
            You can reset your password with the link below. It can only be used
            once and it expires in an hour. Didn't request to reset your password?
            No worries, you can safely ignore this email, someone likely made a
            mistake when trying to regain access to their account.
        </p>
        <p>
            <a href={{resetLink}}>Click here to reset your password.</a>
        </p>
    </body>
</html>