@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

input,
select {
    border-radius: 0.375rem;
    padding: 0.25rem;
    color: black;
}

@layer components {
    .no-step::-webkit-outer-spin-button,
    .no-step::-webkit-inner-spin-button,
    input[type='number'].no-step {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
