{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import"],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    },
    "overrides": [
        {
            "files": ["src/**/*.ts"],
            "rules": {
                "max-len": ["error", 120],
                "no-plusplus": ["off"],
                "object-curly-newline": [
                    "error",
                    {
                        "multiline": true,
                        "consistent": true
                    }
                ],
                "no-mixed-operators": ["off"],
                "linebreak-style": ["off"],
                "lines-between-class-members": ["off"],
                "import/extensions": ["off"],
                "no-shadow": ["off"],
                "@typescript-eslint/no-shadow": ["error"]
            }
        }
    ]
}
